:root {
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
}

@font-face {
  font-family: "Work Sans", sans-serif;
  src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Work Sans italic", sans-serif;
  src: url("./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  justify-self: flex-end;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 14px);
  background-color: var(--light-pink);
}

#background-pattern {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  z-index: 0;
}
#background-pattern-mobile {
  display: none;
}
.faq-container {
  background-color: var(--white);
  border-radius: 10px;
  padding: 2rem;
  z-index: 1;
  /* shadow */
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  width: 450px;
  align-self: center;
  margin-top: 80px;
  margin-bottom: 10px;
  overflow-y: scroll;
}

.heading {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--dark-purple);
}

.heading h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-purple);
}

.acc-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
/* Styles for each accordion item */
.accordion-item {
  /* Add your accordion item styles here */
  padding: 16px 0px;

  border-bottom: 1px solid var(--light-pink);
}

/* Styles for the question element */
.question {
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: var(--dark-purple);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.question:hover {
  color: #ad28eb;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Styles for the answer element */
.answer {
  /* Add your answer styles here */
  display: none; /* Initially hide the answer */
  color: var(--grayish-purple);
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin-top: 12px;
}

/* Styles to show the answer when the "show" class is present */
.answer.show {
  display: block;
}

@media screen and (max-width: 480px) {
  .container {
  }

  .faq-container {
    width: calc(100% - 2rem);
    margin-top: 20;
    margin-bottom: 0;
  }

  #background-pattern {
    display: none;
  }

  #background-pattern-mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 150px;
    z-index: 0;
  }
}
